#form12 {
    width: 100%;
}

/* .draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  } */


#addbutton {
      position: fixed;
      z-index: 100;
      right: 5vw;
      top: 80vh;
      width: 4rem;
      height: 4rem;
  }