#form12 {
  width: 100%;
}

/* .draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
  }
  
  .draggable.dragging {
    opacity: .5;
  } */

#addbutton {
  position: fixed;
  z-index: 100;
  right: 5vw;
  top: 80vh;
  width: 4rem;
  height: 4rem;
}
/* 

#Task-List-2 > li {
  color: aliceblue;
  background: linear-gradient(90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%);

}
#Task-List-1 > li {
  color: aliceblue;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);

}
#Task-List > li {
  color: aliceblue;
  background: linear-gradient(90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%);

} */



li:nth-child(4n + 0) {
  color: aliceblue;
  background: linear-gradient(90deg,
      rgba(255, 118, 20, 1) 0%,
      rgba(255, 84, 17, 1) 100%);
}

li:nth-child(4n + 1) {
  color: aliceblue;
  background: linear-gradient(90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%);
}

li:nth-child(4n + 2) {
  color: aliceblue;
  background: linear-gradient(90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%);
}

li:nth-child(4n + 3) {
  color: aliceblue;
  background: linear-gradient(90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%);
} 